body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid #000;
  margin: 5px;
  padding: 5px;
}

/* nav .logo {
  align-items: flex-start;
} */

nav .logo {
  align-items: flex-start;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h2 {
  align-self: center;
}

.book-list {
  border: 1px solid #000;
  margin: 0px 2px 35px 2px;
}

.date {
  display: flex;
  font-size: 0.9rem;
  justify-content: flex-end;
  padding: 0.5rem;
}

.add-book {
  display: none;
  height: 80vh;
}

.add-book-title {
  font-size: 20px;
  font-weight: bold;
}

.author {
  width: 60%;
  padding: 5px;
  margin: 5px;
}

.nav-link:nth-child(odd) {
  cursor: pointer;
  padding: 5px;
}

.nav-link:hover {
  text-decoration: underline;
  transform: scale(0.9);
  color: blue;
}

.remove-button {
  margin: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 2px -1px rgba(0, 0, 0, 0.7);
}

.book-title {
  width: 60%;
  padding: 5px;
  margin: 5px;
}

.add-button {
  margin: 10px;
  border: 1.5px solid black;
  box-shadow: 5px 5px 2px -1px rgba(0, 0, 0, 0.7);
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.button-container {
  display: flex;
  width: 60%;
  justify-content: flex-end;
}

.book-container:nth-child(odd) {
  background-color: bisque;
}

.contact {
  display: none;
  height: 70vh;
}

.contact-container {
  margin-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
}

.contact-header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.contact-list {
  margin: 10px;
}

.contact-list-item {
  list-style: circle;
  margin: 12px;
}

footer {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  font-weight: bold;
  background-color: bisque;
}
